*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.trafficLight {
    width: 90px;
    height: 270px;
    margin: 0 auto;
    background-color: #252525;
    border-radius: 60px;
    border: 0.5px solid #5a5858;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.color {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
}

.green {background-color: green;}
.yellow {background-color: yellow;}
.red {background-color: red;}

